body{
  font-family: system-ui;
  background:#121212;
  color:white;
  text-align:center;
}
.app{
  max-width:400px;
  margin:auto;
}
button{
  padding:15px;
  border-radius:12px;
  border:none;
  background:#4CAF50;
  color:white;
  font-size:18px;
}
.counts p{
  font-size:20px;
}